<table class="table">
    <thead>
      <tr>
        <th scope="col">phone</th>
        <th scope="col">website</th>       
        <th scope="col">name</th>
        <th scope="col">catchPhrase</th>
        <th scope="col">bs</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{user.phone}}</td>
        <td>{{user.website}}</td>
        <td>{{user.company.name}}</td>
        <td>{{user.company.catchPhrase}}</td>
        <td>{{user.company.bs}}</td>
       
      </tr>
      
    </tbody>
  </table>