
<table class="table">
    <thead>
      <tr>
        <th scope="col">Street</th>
        <th scope="col">Suite</th>
        <th scope="col">city</th>
        <th scope="col">Postal Code</th>
        <th scope="col">latitude </th>
        <th scope="col">Length </th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let user of users">
        <td >{{user.address.street}}</td>
        <td>{{user.address.suite}}</td>
        <td>{{user.address.city}}</td>
        <td>{{user.address.zipcode}}</td>
        <td style="margin-left: 10px; color:cornflowerblue">{{user.address.geo.lat}} </td> 
        <td style="color:crimson;">{{user.address.geo.lng}}</td>
      </tr>
     
    </tbody>
  </table>