<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Addresses</th>
        <th scope="col">contact</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td><button type="button" class="btn btn-outline-primary" routerLink="/address">Address</button></td>
        <td><button type="button" class="btn btn-outline-warning" routerLink="/contact">Contact</button></td>
       
      </tr>
     
    </tbody>
  </table>